/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
    height:100%;
    margin:0;
}

h1 {
    font-size:8rem;
    line-height:0.8;
}


section, section > * {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

section {
    padding:4rem 0;
}

section:nth-child(2n) {
    background-color:#4FD59E;
}

section {
    background-color:#70D1F2;
}

h1 {
    margin-bottom:0;
}

h2 {
    margin-top:1rem;
    margin-bottom:0.5rem;
    font-size:4rem;
}

p, ul {
    font-size:1.5rem;
}

.report p {
    margin:0;
}

strong {
    color:white;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

ul {
    text-align:left;
    max-width:550px;
    margin-top:0;
}

button, a.btn {
    background-color:#F5837C;
    border:0;
    padding:1rem;
    border-radius:0.5rem;
    margin:0.5rem;
    font-size:1.5rem;
    outline:none;
    text-decoration:none;
    color:#222;

    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -ms-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;

    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

button:hover, a.btn:hover {
    background-color:#D85A4F;
}

body, button {
    font-family: 'Droid Serif', serif;
    color:#333;
}

h1, h2 {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

code {
    padding: 1px 4px;
    color: #d14;
    white-space: nowrap;
    background-color: #e3e3e9;
    border: 1px solid #e1e1e8;

    border-radius: 3px;
    font-size: 1.25rem;
}

section {
    -webkit-transition: height 1000ms ease-in-out;
    -moz-transition: height 1000ms ease-in-out;
    -ms-transition: height 1000ms ease-in-out;
    -o-transition: height 1000ms ease-in-out;
    transition: height 1000ms ease-in-out;
}

section > p {
    max-width:700px;
}

#report p {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    margin:0;
    -webkit-transition: max-height 4s ease;
    -moz-transition: max-height 4s ease;
    -ms-transition: max-height 4s ease;
    -o-transition: max-height 4s ease;
    transition: max-height 4s ease;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}